---
layout: page
title: Archive
---
<h1>Archive</h1>

<style type="text/css">
#cse-search-field {
  width: 70%;
  font-size: inherit;
  font-family: helvetica, sans-serif;
  padding:0.5em 0.5em;
}
#cse-search-field {
  border:1px solid #ddd;
  border-radius: 3px;
}
#cse-search-field:focus {
  outline:none;
  border-color: #2299ff;
}
html.ios #cse-search-field {
  padding:0.5em 1em;
  -webkit-appearance: none;
}
html.ios #cse-search-button {
  display: none;
}
</style>
<ul class="minimal">
{% for post in site.posts %}
  <li>
    {{ post.date | date: "%b %d, %Y"  }} &mdash; <a href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}">{% if post.title != "" %}{{ post.title }}{% else %}{{ post.slug }}{% endif %}</a>
  </li>
{% endfor %}
</ul>
