---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">

      {% if page.pages %}
      <span>,  Pages: {{ page.pages }}</span>
      {% endif %}
      {% if page.paper %}
      <span>,  <a href="{{ site.baseurl }}{{ page.paper }}"> {{ page.paper_author }}</a></span>
      {% endif %}

      {% if page.based_on %}
      {% assign cur = site.posts | where:"title",  page.based_on %}
      {% assign cur = cur[0] %}
      <span>, based on:   <a href="{{ cur.url }}"> {{ cur.title }}</a></span>
      {% endif %}

      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">some</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
  <script type="text/javascript">
  {% include main.js %}
  </script>
</article>
